.fitness {
    text-align: center;
    padding: 40px;
}

h2 {
    text-align: center;
    width: 100%;
}

.log-workout-btn {
    display: block;
    width: 650px;
    height: 100px;
    padding: 15px;
    margin: 15px auto;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ffb3b3;
    margin-bottom: 30px;
}

.recommend-workout-btn {
    display: block;
    width: 650px;
    height: 100px;
    padding: 15px;
    margin: 15px auto;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ff3333;
    margin-bottom: 30px;
}
