/* Full Page Container */

.login-container {
    display: flex;
    height: 85vh;
    /* background-color: #f1f7ed; */
    font-family: Arial, sans-serif;
  }

  
  /* Left Section - Logo & Title */
  .left-section {
    width: 50%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* background-color: #f1f7ed;  */
    border-radius: 10px;
    margin-bottom: 200px;
    margin-top: 30px;
  }
  
  .logo-container {
    text-align: center;
    margin-top: 80px;
    border: "1px solid #ddd",

  }
  
  .login-img {
    width: 500px;
    height: auto;
    background-color: white;
  }
  
  .title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  /* Right Section - Login Form */
  .right-section {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #f1f7ed; */
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  /* Login Title */
  .login-title {
    font-size: 30px;
    /* font-weight: bold; */
    margin-bottom: 40px;
  }
  
  /* Input Fields */
  .input-group {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #aaa; */
    width: 350px;
    /*max-width: 350px;*/
    margin-bottom: 15px;
    padding: 5px;
    background: transparent;
  }

  /*
  .input-icon {
    width: 5px;
    height: 5px;
    margin-right: 10px;
    opacity: 0.7;
    margin-bottom: 2px;
  }
  */
  
  .input-field {
    border: none;
    flex: 1;
    font-size: 14px;
    outline: none;
    background: transparent;
  }
  
  /* Login Button */
  .login-button {
    background-color: #28a745;
    color: white;
    padding: 8px;
    width: 350px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    justify-self: center;
  }
  
  /* .login-button:hover {
    background-color: #45a049;
  } */
  
  /* Extra Options */
  .extra-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .extra-options a {
    text-decoration: none;
    color: #007bff;
  }
  
  /* Divider */
  .divider {
    width: 100%;
    max-width: 350px;
    border: 0.5px solid #ccc;
    margin: 20px 0;
  }
  
  .or-text {
    font-size: 14px;
    color: #777;
  }
  
  /* Google Login */
  .google-login {
    background-color: #28a745;
    color: black;
    padding: 10px;
    width: 200px;
    max-width: 350px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
/* 
  .google-login:hover {
    background-color: #45a049;
  } */
  
  .google-icon {
    width: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Register Text */
  .register-text {
    font-size: 14px;
    margin-top: 30px;
  }
  
  .register-text a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

.text-red {
  color: #ff4545;
  font-size: 14px;
  margin-top: 5px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
